<div class="ids__wrapper">
  <header class="header">
    <nav class="nav">
      <a href="/" class="nav-link">
        <div class="nav-logo-container">
          {% include "assets/modulate-icon.html" %}
        </div>
        <span class="nav-logo-modulate">Modulate </span>Design System
      </a>
      <div class="nav-spacer"></div>
      {% if '/ui-architecture/' == page.url %}
      <span class="nav-link">UI Colors</span>
      {% else %}
      <a href="/ui-architecture/" class="nav-link">UI Architecture</a>
      {% endif %}
    </nav>
  </header>
</div>
