.ids {
  & a {
    color: var(--m__text-link-color);
    text-decoration: underline;
    will-change: color;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    text-decoration-skip-ink: none;
    text-decoration-color: color-mix(in srgb, var(--m__text-link-color) 20%, transparent);
    transition:
      color 0.5s ease,
      text-decoration 0.5s ease;

    &:hover {
      color: var(--m__text-hover-color);
      text-decoration-color: color-mix(in srgb, var(--m__text-hover-color) 20%, transparent);
      transition:
        color 0s ease,
        text-decoration 0s ease;
    }
  }

  .ids__promo-link {
    display: flex;

    & a {
      display: inline-block;
      padding: 0.45em 0.6em 0.5em;
      border: 1px solid color-mix(in srgb, var(--m__text-color) 50%, transparent);
      border-right: 0;

      &:hover {
        background-color: color-mix(in srgb, var(--m__text-hover-color) 10%, transparent);
      }

      &:first-child {
        border-radius: 0.3em 0 0 0.3em;
        padding-left: 1em;
      }

      &:last-child {
        border-radius: 0 0.3em 0.3em 0;
        padding-right: 1em;
        border-right: 1px solid color-mix(in srgb, var(--m__text-color) 50%, transparent);
      }

      &.active {
        color: var(--m__text-color);
        background-color: color-mix(in srgb, var(--m__text-color) 5%, transparent);
        -webkit-text-decoration: none;
        text-decoration: none;
        cursor: default;
      }

      &.active::after {
        content: " ↓";
      }
    }
  }

  & p {
    margin-top: 0;
    margin-bottom: 0.52em;

    &.loud {
      font-size: 2em;
      line-height: 1.2;
    }

    &.huge {
      font-size: 6em;
      line-height: 1;

      @media (max-width: 767px) {
        &.huge {
          font-size: 3.2em;
        }
      }

      @media (max-width: 549.98px) {
        &.huge {
          font-size: 2.8em;
        }
      }
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 0;
    font-weight: 600;
  }

  & h1 {
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1;
    margin-bottom: 0.4em;

    @media (width < 767px) {
      font-size: 2.6em;
    }

    &.S {
      font-size: 2.4em;
      font-weight: 650;
    }
    &.XS {
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  & h2 {
    font-size: 2.4em;
    font-weight: 650;
    line-height: 1.083;
    margin-bottom: 0.5em;

    &.XS {
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  & h3 {
    font-size: 1.5em;
    line-height: 1.182;
    margin-bottom: 0.6em;
  }

  & h4 {
    font-size: 1.1em;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  & h5 {
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  & h6 {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  & strong,
  & b {
    font-weight: 600;
  }

  & mark {
    color: var(--m__text-color);
    background-color: var(--m__bg-mark-color);
  }

  & ul,
  & ol {
    margin: 0 0 0.975em 0;
    padding: 0;

    & li {
      position: relative;
      margin-bottom: 0.65em;
    }
  }

  & ul {
    & li {
      list-style-type: none;
      padding-left: 0.975em;

      &:before {
        position: absolute;
        left: 0;
        content: "⋅ ";
      }
    }
  }

  & ol {
    & li {
      list-style: decimal inside none;
    }
  }

  & blockquote {
    font-size: 1.4em;
    line-height: 1.3;
    margin: 0;
    padding-left: 0.975em;
    margin-bottom: 1.3em;
  }

  & aside {
    margin: 0;
    margin-bottom: 0.65em;
    background: var(--m__bg-surface-color);
    padding-top: 0.52em;
    padding-right: 1.95em;
    padding-bottom: 0.52em;
    padding-left: 0.65em;
    border-radius: 0.2em;

    @media (width < 767px) {
      padding-right: 0.975em;
    }

    &.code {
      color: var(--m__code-color);
      background: color-mix(in srgb, var(--m__code-color) 10%, transparent);

      & h4 {
        font-size: 0.8rem;
        opacity: 0.5;
      }
    }
  }

  & code {
    font-size: 0.9em;
    font-family: "Inter";
    letter-spacing: 0.02em;
    font-weight: 450;
    padding: 0.1em 0.25em;
    border-radius: 0.2em;
    color: var(--m__code-color);
    border: 1px solid color-mix(in srgb, var(--m__code-color) 10%, transparent);
    background: color-mix(in srgb, var(--m__code-color) 10%, transparent);
  }

  & figure {
    margin: 0 0 0.65em 0;

    &.XXS,
    &.ids__figure__XXS {
      width: 25%;
    }
    &.XS,
    &.ids__figure__XS {
      width: 50%;
    }
    &.S,
    &.ids__figure__S {
      width: 75%;
    }

    & figcaption {
      margin-top: 0.325em;
      font-size: 0.8em;
      line-height: 1.3;
      opacity: 0.7;
    }
  }

  & details {
    padding: 0.5em;
    cursor: pointer;
    border-radius: var(--m__radius);

    & summary {
      padding-bottom: var(--ids__micro-padding);
    }
  }

  & table {
    border-spacing: 0;
    background-color: inherit;

    @media (max-width: 768px) {
      font-size: 0.7em;
    }

    thead {
      background-color: inherit;
    }

    tr {
      background-color: inherit;

      & th {
        position: sticky;
        top: 0px;
        text-align: left;
        border-bottom: 2px solid var(--m__text-color);
        padding-bottom: 0.3em;
        background-color: inherit;

        @media (max-width: 768px) {
          padding-top: 0.8em;
        }
      }

      & td {
        padding: 0.8em 0.5em 1em 0;
        border-bottom: 1px solid color-mix(in srgb, var(--m__text-color) 50%, transparent);
        vertical-align: top;
      }

      &:last-child {
        & td {
          border-bottom: none;
        }
      }
    }
  }

  & hr {
    border-top-color: color-mix(in srgb, var(--m__text-color) 20%, transparent);
    border-bottom: 0;
  }
}
