---
pageTitle: Behaviors
permalink: /dashboard/behaviors/
---

{% extends 'layout.html' %} {% block content %}

<div class="dashboard-wrapper">
  <div class="m__space XL"></div>
  <div class="dashboard-layout">
    <aside class="nav-sidebar">
      <nav>{% include 'dashboard-nav-sidebar.html' %}</nav>
    </aside>

    <main class="dashboard-content">
      <h1 class="dashboard-page-title">Behaviors</h1>
      <div class="dashboard-section m__text-content">
        <p>This page is intentionally empty for now.</p>
      </div>
    </main>
  </div>
  <div class="m__space XL"></div>
</div>

{% endblock %}
