.header {
  padding: 0.5em 0 1em;
  margin-bottom: 5rem;

  & nav {
    font-size: 0.8em;
    font-weight: 480;
    display: flex;
    align-items: baseline;
    gap: 1em;
    flex-wrap: wrap;

    @media (width < 768px) {
      gap: 1em;
    }

    & span.nav-link {
      text-decoration: none;
    }

    & .nav-link {
      display: flex;
      align-items: baseline;
      gap: 0.3em;
    }

    & .nav-spacer {
      flex: 1;
    }
  }
}
