:root,
.light-mode {
  /* TEXT */
  --mdlt-text: rgb(30, 30, 35);
  --mdlt-text-link: rgb(50, 50, 70);
  --mdlt-text-hover: rgb(40, 95, 235);
  --mdlt-text-caption: rgb(150, 150, 170);
  --mdlt-text-inverted: rgb(242, 242, 246);
  --mdlt-text-accent: rgb(20, 20, 50);

  /* BACKGROUND */
  --mdlt-background: rgb(255, 255, 255);
  --mdlt-bg-surface: rgb(242, 242, 246);
  --mdlt-bg-accent: rgb(20, 20, 50);
  --mdlt-bg-hover: var(--mdlt-text-hover);
  --mdlt-bg-mark: rgb(255, 200, 29);

  /* UI */
  --mdlt-ui-control: var(--mdlt-bg-surface);
  --mdlt-ui-border: rgb(220, 220, 230);
  --mdlt-ui-error: rgb(255, 53, 84);
  --mdlt-ui-success: rgb(21, 207, 135);

  /* CODE */
  --mdlt-code: rgb(124, 58, 237);
}

.dark-mode {
  /* TEXT */
  --mdlt-text: rgb(255, 255, 255);
  --mdlt-text-caption: rgb(128, 128, 128);
  --mdlt-text-link: rgb(255, 255, 255);
  --mdlt-text-inverted: rgb(20, 20, 30);
  --mdlt-text-hover: rgb(120, 180, 255);

  /* BACKGROUND */
  --mdlt-background: rgb(30, 30, 35);
  --mdlt-bg-surface: rgb(50, 50, 85);
  --mdlt-bg-accent: rgb(20, 20, 50);
  --mdlt-bg-hover: rgb(100, 110, 140);
  --mdlt-bg-mark: rgb(255, 200, 29);

  /* UI */
  --mdlt-ui-control: var(--mdlt-bg-surface);
  --mdlt-ui-border: var(--mdlt-bg-surface);
  --mdlt-ui-error: rgb(255, 53, 84);
  --mdlt-ui-success: rgb(21, 207, 135);

  /* CODE */
  --mdlt-code: rgb(167, 139, 250);

  color: var(--mdlt-text);
  background-color: var(--mdlt-background);
}

.modulate-legacy-dark-theme {
  /* TEXT */
  --mdlt-text: rgb(255, 255, 255);
  --mdlt-text-caption: rgb(128, 128, 128);
  --mdlt-text-link: rgb(255, 255, 255);
  --mdlt-text-inverted: rgb(20, 20, 30);
  --mdlt-text-hover: rgb(120, 180, 255);

  /* BACKGROUND */
  --mdlt-background: rgb(33, 20, 67);
  --mdlt-bg-surface: rgb(33, 20, 67);
  --mdlt-bg-accent: rgb(33, 20, 67);
  --mdlt-bg-hover: rgb(100, 110, 140);
  --mdlt-bg-mark: rgb(255, 200, 29);

  /* UI */
  --mdlt-ui-control: var(--mdlt-bg-surface);
  --mdlt-ui-border: rgb(60, 50, 90);
  --mdlt-ui-error: rgb(255, 53, 84);
  --mdlt-ui-success: rgb(21, 207, 135);

  /* CODE */
  --mdlt-code: rgb(167, 139, 250);

  color: var(--mdlt-text);
  background-color: var(--mdlt-background);
}

body {
  color: var(--mdlt-text);
  background-color: var(--mdlt-background);
}
