:root,
.light-mode {
  /* TEXT */
  --m__text-color: rgb(30, 30, 35);
  --m__text-link-color: rgb(50, 50, 70);
  --m__text-hover-color: rgb(40, 95, 235);
  --m__text-caption-color: rgb(150, 150, 170);
  --m__text-inverted-color: rgb(242, 242, 246);
  --m__text-accent-color: rgb(20, 20, 50);

  /* BACKGROUND */
  --m__background-color: rgb(255, 255, 255);
  --m__bg-surface-color: rgb(242, 242, 246);
  --m__bg-accent-color: rgb(20, 20, 50);
  --m__bg-hover-color: var(--m__text-hover-color);
  --m__bg-mark-color: rgb(255, 200, 29);

  /* UI */
  --m__ui-control-color: var(--m__bg-surface-color);
  --m__ui-border-color: rgb(220, 220, 230);
  --m__ui-error-color: rgb(255, 53, 84);
  --m__ui-success-color: rgb(21, 207, 135);

  /* CODE */
  --m__code-color: rgb(124, 58, 237);
}

.dark-mode {
  /* TEXT */
  --m__text-color: rgb(180, 180, 190);
  --m__text-link-color: rgb(180, 180, 190);
  --m__text-hover-color: rgb(255, 255, 255);
  --m__text-caption-color: color-mix(
    in srgb,
    var(--m__text-color) 65%,
    var(--m__bg-surface-color)
  );
  --m__text-inverted-color: rgb(20, 20, 30);
  --m__text-accent-color: rgb(180, 180, 190);

  /* BACKGROUND */
  --m__background-color: rgb(20, 20, 25);
  --m__bg-surface-color: rgb(27, 27, 39);
  --m__bg-accent-color: rgb(220, 220, 250);
  --m__bg-hover-color: rgb(100, 110, 140);
  --m__bg-mark-color: rgb(255, 200, 29);

  /* UI */
  --m__ui-control-color: color-mix(
    in srgb,
    var(--m__text-color) 15%,
    var(--m__bg-surface-color)
  );
  --m__ui-border-color: color-mix(
    in srgb,
    var(--m__text-color) 15%,
    var(--m__bg-surface-color)
  );
  --m__ui-error-color: rgb(255, 53, 84);
  --m__ui-success-color: rgb(21, 207, 135);

  /* CODE */
  --m__code-color: rgb(167, 139, 250);

  color: var(--m__text-color);
  background-color: var(--m__background-color);
}

.modulate-legacy-dark-theme {
  /* TEXT */
  --m__text-color: rgb(255, 255, 255);
  --m__text-caption-color: rgb(128, 128, 128);
  --m__text-link-color: rgb(255, 255, 255);
  --m__text-inverted-color: rgb(20, 20, 30);
  --m__text-hover-color: rgb(120, 180, 255);

  /* BACKGROUND */
  --m__background-color: rgb(33, 20, 67);
  --m__bg-surface-color: rgb(33, 20, 67);
  --m__bg-accent-color: rgb(33, 20, 67);
  --m__bg-hover-color: rgb(100, 110, 140);
  --m__bg-mark-color: rgb(255, 200, 29);

  /* UI */
  --m__ui-control-color: var(--m__bg-surface-color);
  --m__ui-border-color: rgb(60, 50, 90);
  --m__ui-error-color: rgb(255, 53, 84);
  --m__ui-success-color: rgb(21, 207, 135);

  /* CODE */
  --m__code-color: rgb(167, 139, 250);

  color: var(--m__text-color);
  background-color: var(--m__background-color);
}

body {
  color: var(--m__text-color);
  background-color: var(--m__background-color);
}
