{% extends 'ds-layout.html' %} {% block content %}

<div class="m__wrapper">
  <div class="m__space L"></div>
  <div class="m__text-width">
    <h1>Modulate Platform API (0.1.0)</h1>
    <p>
      Download OpenAPI specification:<a target="_blank" href="#">Download</a>
    </p>
    <p>
      URL:
      <a href="https://modulate.ai/contact">https://modulate.ai/contact</a>
      • License: <a href="https://modulate.ai/contact">Proprietary</a>
    </p>
    <h2>Overview</h2>
    <p>
      High-performance API that transforms spoken audio into sharp, actionable
      insights: detecting fraud, surfacing social toxicity, and spotlighting
      positive human behavior with impressive speed and precision.
    </p>
    <h2>Please Read: This is an Early Access Version</h2>
    <p>
      <strong
        >This documentation is for a version of the Modulate Platform API that
        is not yet publicly accessible. Furthermore, until version 1.0.0 is
        released, we will do our best to communicate about changes and to
        minimize high-impact, breaking changes, but please be advised that any
        part of this API is subject to change at any time (especially the shapes
        of analysis result responses).</strong
      >
    </p>
    <h2>Authentication</h2>
    <p>
      All endpoints require HTTP <code>Basic</code> authentication via the
      <code>Authorization</code> header, as follows:
    </p>

    <ul>
      <li>The username should be equal to your account ID.</li>
      <li>The password should be equal to your API key.</li>
    </ul>
  </div>
</div>

{% endblock %}
