<div class="m__sequence M" style="margin-bottom: 0">
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-default-color);
        color: var(--m__text-inverted-color);
      ">
      <p>chart-default</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-model-1-color);
        color: var(--m__text-inverted-color);
      ">
      <p>chart-model-1</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-model-2-color);
        color: var(--m__text-inverted-color);
      ">
      <p>chart-model-2</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-model-3-color);
        color: var(--m__text-color);
      ">
      <p>chart-model-3</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-status-success-color);
        color: var(--m__text-color);
      ">
      <p>chart-status-success</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-status-server-error-color);
        color: var(--m__text-inverted-color);
      ">
      <p>chart-status-server-error</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-status-client-error-color);
        color: var(--m__text-inverted-color);
      ">
      <p>chart-status-client-error</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__chart-status-processing-color);
        color: var(--m__text-color);
      ">
      <p>chart-status-processing</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>
</div>
