<div class="m__sequence M" style="margin-bottom: 0">
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__text-color);
        color: var(--m__text-inverted-color);
      ">
      <p>text</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__text-link-color);
        color: var(--m__text-inverted-color);
      ">
      <p>text-link</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__text-hover-color);
        color: var(--m__text-color);
      ">
      <p>text-hover</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__text-caption-color);
        color: var(--m__text-color);
      ">
      <p>text-caption</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__bg-accent-color);
        color: var(--m__text-inverted-color);
      ">
      <p>bg-accent</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__bg-hover-color);
        color: var(--m__text-color);
      ">
      <p>bg-hover</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__ui-error-color);
        color: var(--m__text-inverted-color);
      ">
      <p>ui-error</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__ui-border-color);
        color: var(--m__text-color);
      ">
      <p>ui-border</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__text-inverted-color);
        color: var(--m__text-color);
      ">
      <p>text-inverted</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__bg-surface-color);
        color: var(--m__text-color);
      ">
      <p>bg-surface</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__ui-control-color);
        color: var(--m__text-color);
      ">
      <p>ui-control</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>

  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--m__background-color);
        color: var(--m__text-color);
      ">
      <p>background</p>
      <button class="guide-color-plate__value"></button>
    </div>
  </div>
</div>
