<div class="ids__sequence M" style="margin-bottom: 0">
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-text);
        color: var(--mdlt-text-inverted);
      ">
      <p>text</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-text-link);
        color: var(--mdlt-text-inverted);
      ">
      <p>text-link</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-text-hover);
        color: var(--mdlt-text);
      ">
      <p>text-hover</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-text-caption);
        color: var(--mdlt-text);
      ">
      <p>text-caption</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-bg-accent);
        color: var(--mdlt-text-inverted);
      ">
      <p>bg-accent</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-bg-hover);
        color: var(--mdlt-text);
      ">
      <p>bg-hover</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-ui-error);
        color: var(--mdlt-text-inverted);
      ">
      <p>ui-error</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-ui-border);
        color: var(--mdlt-text);
      ">
      <p>ui-border</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-text-inverted);
        color: var(--mdlt-text);
      ">
      <p>text-inverted</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-bg-surface);
        color: var(--mdlt-text);
      ">
      <p>bg-surface</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-ui-control);
        color: var(--mdlt-text);
      ">
      <p>ui-control</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--mdlt-background);
        color: var(--mdlt-text);
      ">
      <p>background</p>
      <p></p>
    </div>
  </div>
</div>
