<div class="ids__sequence M" style="margin-bottom: 0">
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__text-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>text</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__text-link-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>text-link</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__text-hover-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>text-hover</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__text-caption-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>text-caption</p>
      <p></p>
    </div>
  </div>
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__bg-accent-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>bg-accent</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__bg-hover-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>bg-hover</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__UI-error-RGB), 1);
        color: rgba(var(--ids__text-inverted-RGB), 1);
      ">
      <p>UI-error</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__UI-border-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>UI-border</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__text-inverted-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>text-inverted</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__bg-surface-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>bg-surface</p>
      <p></p>
    </div>
  </div>

  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__UI-control-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>UI-control</p>
      <p></p>
    </div>
  </div>
  <div class="ids__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: rgba(var(--ids__background-RGB), 1);
        color: rgba(var(--ids__text-RGB), 1);
      ">
      <p>background</p>
      <p></p>
    </div>
  </div>
</div>
