<div class="m__sequence M" style="margin-bottom: 0">
  <!-- no strong signal -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-neutral-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-neutral-group</p>
      <p>neutral, unknown</p>
    </div>
  </div>

  <!-- attack / rejection -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-attack-rejection-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-attack-rejection-group</p>
      <p>angry, contemptuous, disgusted</p>
    </div>
  </div>

  <!-- threat / uncertainty -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-threat-uncertainty-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-threat-uncertainty-group</p>
      <p>afraid, anxious, stressed, surprised, ashamed, frustrated</p>
    </div>
  </div>

  <!-- calm / grounded -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-calm-grounded-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-calm-grounded-group</p>
      <p>calm, confident, interested</p>
    </div>
  </div>

  <!-- excited / engaged -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-excited-engaged-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-excited-engaged-group</p>
      <p>
        affectionate, amused, excited, happy, hopeful, proud, relieved, curious
      </p>
    </div>
  </div>

  <!-- low energy, negative -->
  <div class="m__sequence-item">
    <div
      class="guide-color-plate"
      style="
        background-color: var(--emotion-low-energy-negative-group);
        color: var(--m__text-inverted-color);
      ">
      <p>emotion-low-energy-negative-group</p>
      <p>sad, disappointed, bored, tired, concerned, confused</p>
    </div>
  </div>
</div>
